<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <!--<link rel="stylesheet" href="stylesheet.css" type="text/css">-->
  <style type="text/css">
        #title{
            margin: auto;
            display: block;
            width: 20%;
            border: 1px solid black;
            text-align: center;
        }
        #datetime{
            margin: auto;
            display: block;
            width: 50%;
            border: 1px solid black;
            text-align: center;
        }
  </style>
  </head>
  <body>
    <div id = "title"><p> The current time and date:</p></div>
    <div id = "datetime" class="line"><h1>{{time}}</h1></div>
  </body>
</html>