<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New User</title>
  <!--<link rel="stylesheet" href="stylesheet.css" type="text/css">-->
  <style type="text/css">
        *{
           font-size: 18px; 
        }
        #area{
          margin: 1px auto;
          padding: 2px;
          width: 650px; 
          display: block;
          text-align: center;
        }
  </style>
  
  </head>
  <body>
    <h1 id = 'heading'> Add a new User</h1>
        <form action="/users/{{user.id}}/update" method="POST">
            {% csrf_token %}
            First name:<br>
            <input type="text" name="first_name" value="{{user.first_name}}">
            <br>
            Last name:<br>
            <input type="text" name="last_name" value="{{user.last_name}}">
            <br><br>
            E-mail:
            <input type="text" name="email" value="{{user.email}}">
            <br><br>
            <input type="submit" value="Update">
        </form><br>
        <a href = "/users">Go Back</a>
    </form>
  </body>
</html>